<h3>THis page under construction :) </h3>
<h2>Add an Owner</h2>
<form method="post" action="/daycare">
  <label>Owner Username:</label><br>
  <input type="name" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input class="btn btn-primary" type="submit">
</form>

<a href="/"> Home </a><br>
<a href="/logout"> Log Out </a><br>
