<h2>Add A Parent</h2>
<form method="post" action="/daycare/create_client">
  <label>Add Parent's Info:</label><br>
  <input type="text" name="first_name" placeholder="First Name:"><br>
  <input type="text" name="last_name" placeholder="Last Name:"><br>
  <input type="text" name="address" placeholder="Address:"><br>
  <input type="text" name="phone_number" placeholder="Phone Number:"><br>
  <input class="btn btn-primary" type="submit">
</form>

<br><a href="/"> Home </a><br>
<a href="/logout"> Log Out </a><br>
