<h1>Welcome, <%= current_user.username %></h1>
<p>Find current parents below:<br>
<% @parents.each do |parent| %>
  <div>
    <%= parent.username %><br>
    <% end %>
  </div>

<br><a href="/daycare/create_client">Add New Parent</a>
<br><a href="/family/create_children">Add New Child</a><br>

<br><a href="/"> Home </a><br>
<a href="/logout"> Log Out </a><br>
