<h1>Welcome, <%= current_user.username %></h1>
<p>Find current owners below:<br>
<% @owners.each do |owner| %>
  <div>
    <%= owner.username %><br>
    <% end %>
  </div>

<br><a href="/family/create_client">Add New Client</a>
<br><a href="/daycare/create_owner">Add New Owner</a><br>

<br><a href="/"> Home </a><br>
<a href="/logout"> Log Out </a><br>
