<h3>Login to View Owner Account</h3>
<form method="post" action="/daycare/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

  <input class="btn btn-primary" type="submit">
</form>
