<h2> Edit Child </h2>
<form method="post" action="/children/<%=@child.id%>">
  <input type="text" name="name" value="<%= @child.first_name %>">
  <input type="text" name="name" value="<%= @child.last_name %>">
  <input type="submit" value="submit">
</form
<a href="/family"> Home </a><br>
