<p><%= @child.first_name %> <%= @child.last_name %></p>
<form method="post" action="/children/<%=@child.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Child"><br>
</form>

<br><a href="/parent/<%=@child.id%>/edit"> Edit Child </a><br>
<a href="/parent"> Home </a><br>
<a href="/logout"> Log Out </a>
