<h2> Edit Parent </h2>
<form method="post" action="/parent/<%=@parent.id%>">
  <input type="text" name="name" value="<%= @parent.first_name %>">
  <input type="text" name="name" value="<%= @parent.last_name %>">
  <input type="submit" value="submit">
</form
<a href="/daycare"> Home </a><br>
