<p><%= @parents.username %></p>
<form method="post" action="/parent/<%=@parents.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Parent"><br>
</form>

<br><a href="/parent/<%=@parents.id%>/edit"> Edit Parent </a><br>
