<h3>This page under construction! Check back later</h3>

<h2>Create a New Client</h2>
<form method="post" action="/family/create_client">
  <label>Status:</label><br>
  <input type="text" name="content"><br>
  <input type="submit" value="submit">
</form>
<br><a href="/"> Home </a><br>
<a href="/"> Home </a><br>

<a href="/logout"> Log Out </a><br>
