<h2>Add A Child</h2>
<form method="post" action="/family/create_children">
  <label>Add Child's Info:</label><br>
  <input type="text" name="first_name" placeholder="First Name:"><br>
  <input type="text" name="last_name" placeholder="Last Name:"><br>
  <input class="btn btn-primary" type="submit">
</form>

<br><a href="/"> Home </a><br>
<a href="/logout"> Log Out </a><br>
