<h1>Welcome, <%= current_user.username %></h1><br>
<p>This is your parent hub.</p><br>


<p><a href="/family/create_children"> Add a Child</a></p><br>
<br><h5>Return <a href="/"> Home</a>, or <a href="/logout"> Log Out </a> if you're all set!</h5>
