
<nav>
  <h3> Parents, Please sign up or log in below: </h3>
    <a href="/signup">Sign Up</a><br>
    <a href="family/login"> Log In </a><br>


  <h3> Owner Login </h3>
    <a href="/daycare/login"> Log In </a><br>
</nav
