
<h2>Welcome!</h2><br>

<h4>Please complete the form below to get started:</h4>

 <% unless locals.empty? %>
  <%= message %>
  <% end %>

 <br></br>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
